<syncro-modal-template title="Edit time intervals">
  <ng-container modalContent>
    <div class="time-actions">
      <form class="time-form" [formGroup]="timeForm">
        <syncro-time-picker
          class="time-picker"
          label="From"
          formControlName="start"
        ></syncro-time-picker>

        <syncro-time-picker
          class="time-picker"
          label="To"
          formControlName="end"
        ></syncro-time-picker>
      </form>

      <button class="time-add" (click)="onAdd()">Add</button>
    </div>

    <div class="time-intervals">
      <div class="time-header">Intervals</div>

      <div class="time-list">
        @for (interval of intervals(); let i = $index; track i) {
          <div class="time-entry">
            <div class="time-interval">{{ interval.start }} - {{ interval.end }}</div>

            <button class="time-delete" (click)="onDelete(i)">
              <syncro-icon class="time-icon" type="svg" icon="CROSS"></syncro-icon>
            </button>
          </div>
        }
      </div>
    </div>
  </ng-container>
</syncro-modal-template>
