<syncro-modal-template title="Edit time intervals">
  <ng-container modalContent>
    <div class="time-actions">
      <syncro-time-picker class="time-picker" label="From"></syncro-time-picker>

      <syncro-time-picker class="time-picker" label="To"></syncro-time-picker>

      <button class="time-add">Add</button>
    </div>

    <div class="time-intervals">
      <div class="time-header">Intervals</div>

      <div class="time-list">
        <div class="time-entry"></div>
      </div>
    </div>
  </ng-container>
</syncro-modal-template>
