.password {
  padding: 3rem 5rem;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.455);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &-title {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-input {
    max-width: 60rem;
  }

  &-btn {
    height: 10rem;
    width: 10rem;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mint);
    border: 2px solid var(--mint-contrast);
    border-radius: 50%;
    font-weight: bold;
  }
}
