.matrix {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-elem {
    padding: 1rem;
    border-radius: 3rem;
    border: 0.2rem solid var(--white);
    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(2rem);
  }

  &-group {
    color: var(--cyan);
    display: flex;
    gap: 2rem;
  }

  &-list {
    margin-left: 2rem;
  }

  &-item {
    display: flex;
    gap: 2rem;
  }
}
