:host {
  display: block;
  width: 100%;
}

textarea {
  background-color: #fe9642;
  border: 2px solid #fe8945;
  border-radius: 10px;
  color: #fff;
  font-size: 3rem;
  width: 100%;
  padding: 5px 10px;
}
