:host {
  display: block;
  width: 100%;
}

.password {
  background-color: #fe9642;
  border: 2px solid #fe8945;
  border-radius: 1rem;
  color: var(--white);
  font-size: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-input {
    color: var(--white);
    flex: 1;
  }

  &-btn {
    height: 5rem;
    width: 5rem;
  }
}
